.contenedor-login {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(../resources/revista-axxis-artesanias-de-colombia.jpg);
    background-size: 100%;
    align-items: center;
    justify-content: center;
  }