.contenedor-ventas{
  margin-top: 200px;
}

.tabla-ventas th{

  width: 10em;
  font-size: 18px;
}

.tabla-ventas{
  border-collapse: collapse;
}

.tabla-ventas tr:nth-of-type(1)>th {
  color: #fff;
  background-color:#00A89E;
}

.tabla-ventas td {
  text-align: right;
  font-weight: bold;    
}

h1 {
  color:#00A89E;
}

.img-ventas {
  max-block-size: 25px;  
  
}